    /*
    Flaticon icon font: Flaticon
    Creation date: 18/03/2019 07:41
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-hot-air-balloon:before { content: "\f100"; }
.flaticon-002-pagoda:before { content: "\f101"; }
.flaticon-003-palm-tree:before { content: "\f102"; }
.flaticon-004-beach:before { content: "\f103"; }
.flaticon-005-bedroom:before { content: "\f104"; }
.flaticon-006-sleeping:before { content: "\f105"; }
.flaticon-007-big-ben:before { content: "\f106"; }
.flaticon-008-bus:before { content: "\f107"; }
.flaticon-009-car:before { content: "\f108"; }
.flaticon-010-cocktail:before { content: "\f109"; }
.flaticon-011-colosseum:before { content: "\f10a"; }
.flaticon-012-sign:before { content: "\f10b"; }
.flaticon-013-sign-1:before { content: "\f10c"; }
.flaticon-014-sign-2:before { content: "\f10d"; }
.flaticon-015-distance:before { content: "\f10e"; }
.flaticon-016-distance-1:before { content: "\f10f"; }
.flaticon-017-car-1:before { content: "\f110"; }
.flaticon-018-campfire:before { content: "\f111"; }
.flaticon-019-flag:before { content: "\f112"; }
.flaticon-020-flight:before { content: "\f113"; }
.flaticon-021-forest:before { content: "\f114"; }
.flaticon-022-forest-1:before { content: "\f115"; }
.flaticon-023-garage:before { content: "\f116"; }
.flaticon-024-car-2:before { content: "\f117"; }
.flaticon-025-hotel:before { content: "\f118"; }
.flaticon-026-hotel-1:before { content: "\f119"; }
.flaticon-027-hotel-2:before { content: "\f11a"; }
.flaticon-028-london-eye:before { content: "\f11b"; }
.flaticon-029-sydney-opera-house:before { content: "\f11c"; }
.flaticon-030-arc-de-triomphe:before { content: "\f11d"; }
.flaticon-031-parking:before { content: "\f11e"; }
.flaticon-032-passport:before { content: "\f11f"; }
.flaticon-033-leaning-tower-of-pisa:before { content: "\f120"; }
.flaticon-034-pyramids:before { content: "\f121"; }
.flaticon-035-christ-the-redeemer:before { content: "\f122"; }
.flaticon-036-car-3:before { content: "\f123"; }
.flaticon-037-tent:before { content: "\f124"; }
.flaticon-038-tent-1:before { content: "\f125"; }
.flaticon-039-petronas-towers:before { content: "\f126"; }
.flaticon-040-train:before { content: "\f127"; }
.flaticon-041-tram:before { content: "\f128"; }
.flaticon-042-suitcase:before { content: "\f129"; }
.flaticon-043-truck:before { content: "\f12a"; }
.flaticon-044-umbrella:before { content: "\f12b"; }
.flaticon-045-car-4:before { content: "\f12c"; }
    
    $font-Flaticon-001-hot-air-balloon: "\f100";
    $font-Flaticon-002-pagoda: "\f101";
    $font-Flaticon-003-palm-tree: "\f102";
    $font-Flaticon-004-beach: "\f103";
    $font-Flaticon-005-bedroom: "\f104";
    $font-Flaticon-006-sleeping: "\f105";
    $font-Flaticon-007-big-ben: "\f106";
    $font-Flaticon-008-bus: "\f107";
    $font-Flaticon-009-car: "\f108";
    $font-Flaticon-010-cocktail: "\f109";
    $font-Flaticon-011-colosseum: "\f10a";
    $font-Flaticon-012-sign: "\f10b";
    $font-Flaticon-013-sign-1: "\f10c";
    $font-Flaticon-014-sign-2: "\f10d";
    $font-Flaticon-015-distance: "\f10e";
    $font-Flaticon-016-distance-1: "\f10f";
    $font-Flaticon-017-car-1: "\f110";
    $font-Flaticon-018-campfire: "\f111";
    $font-Flaticon-019-flag: "\f112";
    $font-Flaticon-020-flight: "\f113";
    $font-Flaticon-021-forest: "\f114";
    $font-Flaticon-022-forest-1: "\f115";
    $font-Flaticon-023-garage: "\f116";
    $font-Flaticon-024-car-2: "\f117";
    $font-Flaticon-025-hotel: "\f118";
    $font-Flaticon-026-hotel-1: "\f119";
    $font-Flaticon-027-hotel-2: "\f11a";
    $font-Flaticon-028-london-eye: "\f11b";
    $font-Flaticon-029-sydney-opera-house: "\f11c";
    $font-Flaticon-030-arc-de-triomphe: "\f11d";
    $font-Flaticon-031-parking: "\f11e";
    $font-Flaticon-032-passport: "\f11f";
    $font-Flaticon-033-leaning-tower-of-pisa: "\f120";
    $font-Flaticon-034-pyramids: "\f121";
    $font-Flaticon-035-christ-the-redeemer: "\f122";
    $font-Flaticon-036-car-3: "\f123";
    $font-Flaticon-037-tent: "\f124";
    $font-Flaticon-038-tent-1: "\f125";
    $font-Flaticon-039-petronas-towers: "\f126";
    $font-Flaticon-040-train: "\f127";
    $font-Flaticon-041-tram: "\f128";
    $font-Flaticon-042-suitcase: "\f129";
    $font-Flaticon-043-truck: "\f12a";
    $font-Flaticon-044-umbrella: "\f12b";
    $font-Flaticon-045-car-4: "\f12c";