	/*
  	Flaticon icon font: Flaticon
  	Creation date: 18/03/2019 07:41
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-hot-air-balloon:before { content: "\f100"; }
.flaticon-002-pagoda:before { content: "\f101"; }
.flaticon-003-palm-tree:before { content: "\f102"; }
.flaticon-004-beach:before { content: "\f103"; }
.flaticon-005-bedroom:before { content: "\f104"; }
.flaticon-006-sleeping:before { content: "\f105"; }
.flaticon-007-big-ben:before { content: "\f106"; }
.flaticon-008-bus:before { content: "\f107"; }
.flaticon-009-car:before { content: "\f108"; }
.flaticon-010-cocktail:before { content: "\f109"; }
.flaticon-011-colosseum:before { content: "\f10a"; }
.flaticon-012-sign:before { content: "\f10b"; }
.flaticon-013-sign-1:before { content: "\f10c"; }
.flaticon-014-sign-2:before { content: "\f10d"; }
.flaticon-015-distance:before { content: "\f10e"; }
.flaticon-016-distance-1:before { content: "\f10f"; }
.flaticon-017-car-1:before { content: "\f110"; }
.flaticon-018-campfire:before { content: "\f111"; }
.flaticon-019-flag:before { content: "\f112"; }
.flaticon-020-flight:before { content: "\f113"; }
.flaticon-021-forest:before { content: "\f114"; }
.flaticon-022-forest-1:before { content: "\f115"; }
.flaticon-023-garage:before { content: "\f116"; }
.flaticon-024-car-2:before { content: "\f117"; }
.flaticon-025-hotel:before { content: "\f118"; }
.flaticon-026-hotel-1:before { content: "\f119"; }
.flaticon-027-hotel-2:before { content: "\f11a"; }
.flaticon-028-london-eye:before { content: "\f11b"; }
.flaticon-029-sydney-opera-house:before { content: "\f11c"; }
.flaticon-030-arc-de-triomphe:before { content: "\f11d"; }
.flaticon-031-parking:before { content: "\f11e"; }
.flaticon-032-passport:before { content: "\f11f"; }
.flaticon-033-leaning-tower-of-pisa:before { content: "\f120"; }
.flaticon-034-pyramids:before { content: "\f121"; }
.flaticon-035-christ-the-redeemer:before { content: "\f122"; }
.flaticon-036-car-3:before { content: "\f123"; }
.flaticon-037-tent:before { content: "\f124"; }
.flaticon-038-tent-1:before { content: "\f125"; }
.flaticon-039-petronas-towers:before { content: "\f126"; }
.flaticon-040-train:before { content: "\f127"; }
.flaticon-041-tram:before { content: "\f128"; }
.flaticon-042-suitcase:before { content: "\f129"; }
.flaticon-043-truck:before { content: "\f12a"; }
.flaticon-044-umbrella:before { content: "\f12b"; }
.flaticon-045-car-4:before { content: "\f12c"; }